.idea/

# Executables
bin/bfiasco
bin/cfiasco
bin/dfiasco
bin/efiasco
bin/pnmpsnr

# Build artifacts
*.o
*.lo
.deps/
.libs/

Makefile
autom4te.cache/
autoscan.log
bin/Makefile
codec/Makefile
codec/libfiasco.la
compile
config.h
config.h.in~
config.log
config.status
configure.scan
data/Makefile
doc/Makefile
input/Makefile
input/libfiasco-input.la
lib/Makefile
lib/libfiasco-lib.la
libtool
output/Makefile
output/libfiasco-output.la
stamp-h
stamp-h1